@using DocumentManagementSystem.Client.Components.OpenAPI.Action;

<div class="no-margin">
    <div class="opblock-body">
        <div class="opblock-section">
            @if (!string.IsNullOrWhiteSpace(Action.Description))
            {
                <Description RequestDescription="@Action.Description" />
            }
            <div class="opblock-section-header">
                <div class="tab-header">
                    <div class="tab-item active">
                        <h4 class="opblock-title">
                            <span>Параметры</span>
                        </h4>
                    </div>
                </div>
                @*<div class="try-out">
                    <button class="btn try-out__btn">Попробовать</button>
                </div>*@
            </div>
            <Parameters RequestParameters="@Action.Parameters" />
            @if (Action.Requests is not null)
            {
                <Request Requests="@Action.Requests" Components="@Components"/>
            }
        </div>



        <div class="execute-wrapper"></div>






        <div class="responses-wrapper">
            <Response Responses="@Action.Response" Components="@Components" />
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public Models.Action Action { get; set; }
    [Parameter]
    public Components Components { get; set; }

}
