@using DocumentManagementSystem.Client;
@using DocumentManagementSystem.Client.Components.OpenAPI.Action;

<span>
    <div class="opblock opblock-@method @isOpenString">
        <div class="opblock-summary opblock-summary-@method">
            <button class="opblock-summary-control expand-operation" @onclick="ButtonRotate">
                <span class="opblock-summary-method">@Action.Method</span>
                <span class="opblock-summary-path" data-path="@Action.Path">
                    <a class="nostyle">
                        <span>@Action.Path</span>
                    </a>
                </span>
                <div class="opblock-summary-description">@Action.Summary</div>
                <small />
                <UISVGRotate Rotate="@rotate" />
            </button>
        </div>
        @if (isOpen)
        {
            <Body Action="@Action" Components="@Components"/>
        }
    </div>
</span>

@code {
    [Parameter] 
    public Models.Action Action { get; set; }
    [Parameter]
    public Components Components { get; set; }

    string method;
    string? isOpenString;
    short rotate = 0;
    bool isOpen = false;

    protected override void OnInitialized()
    {
        method = Action.Method.ToLower();
    }

    void ButtonRotate()
    {
        if (isOpen)
        {
            rotate -= 180;
            isOpenString = null;
        }
        else
        {
            rotate += 180;
            isOpenString = "is-open";
        }

        isOpen = !isOpen;
    }
}
