@using DocumentManagementSystem.Client.Components.OpenAPI.Action.Example
@using DocumentManagementSystem.Client.Components.OpenAPI.Action.ComponentSchema
@using DocumentManagementSystem.Shared.OpenApi

<div class="opblock-section opblock-section-request-body">
    <div class="opblock-section-header">
        <h4 class="opblock-title parameter__name undefined">Тело запроса</h4>
        <label>
            @if (mediaTypes is not null && mediaTypes.Count > 0)
            {
                <div class="content-type-wrapper body-param-content-type">
                    <select class="content-type" @bind="requestMediaType">
                        @foreach (var mediaType in mediaTypes)
                        {
                            <option value="@mediaType">@mediaType</option>
                        }
                    </select>
                </div>
            }
        </label>
    </div>
    <div class="opblock-description-wrapper">
        <div>
            <div class="model-example">
                <ul class="tab">
                    @if (exampleValueActivate)
                    {
                        <li class="tabitem active" @onclick="ExampleValueClick">
                            <button class="tablinks">Пример значения</button>
                        </li>
                        <li class="tabitem" @onclick="SchemaClick">
                            <button class="tablinks">Схема</button>
                        </li>
                    }
                    else
                    {
                        <li class="tabitem" @onclick="ExampleValueClick">
                            <button class="tablinks">Пример значения</button>
                        </li>
                        <li class="tabitem active" @onclick="SchemaClick">
                            <button class="tablinks">Схема</button>
                        </li>
                    }
                </ul>
                @if (exampleValueActivate)
                {
                    <div class="highlight-code">
                        <Value SchemaRef="@Requests[requestMediaType].Ref" Components="@Components" />
                    </div>
                }
                else
                {
                    <div class="model-box">
                        <SchemaRoot SchemaRef="@Requests[requestMediaType].Ref" Components="@Components"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, Schema> Requests { get; set; }
    [Parameter]
    public Components Components { get; set; }

    ICollection<string> mediaTypes;
    string requestMediaType;

    bool exampleValueActivate = true;


    void ExampleValueClick()
    {
        if (!exampleValueActivate)
            exampleValueActivate = true;
    }

    void SchemaClick()
    {
        if (exampleValueActivate)
            exampleValueActivate = false;
    }

    protected override void OnInitialized()
    {
        mediaTypes = Requests.Keys;
        requestMediaType = mediaTypes.First();
    }
}
