@using DocumentManagementSystem.Client.Components.OpenAPI.Action.Example

<div class="opblock-section-header">
    <h4>Ответ</h4>
</div>
<div class="responses-inner">
    <table aria-live="polite" class="responses-table" id="post_Auth_Authorization_responses" role="region">
        <thead>
            <tr class="responses-header">
                <td class="col_header response-col_status">HTTP Код</td>
                <td class="col_header response-col_description">Описание</td>
                <td class="col col_header response-col_links">Ссылки</td>
            </tr>
        </thead>
        <tbody>
            <tr class="response" data-code="200">
                @foreach (var responses in Responses)
                {
                    @if (responses.Value is not null && responses.Value.Keys.Count > 0)
                    {
                        <td class="response-col_status">@responses.Key</td>
                        <td class="response-col_description">
                            <div class="response-col_description__inner">
                                <div class="renderedMarkdown">
                                    <p>Success</p>
                                </div>
                            </div>
                            <section class="response-controls">
                                <div class="response-control-media-type response-control-media-type--accept-controller">
                                    <small class="response-control-media-type__title">Медиа тип</small>
                                    <div class="content-type-wrapper ">
                                        <select class="content-type" @bind="@responseMediaType">
                                                @foreach (var mediaType in responses.Value.Keys)
                                                {
                                                    <option value="@mediaType">@mediaType</option>
                                                }
                                        </select>
                                    </div>
                                    <small class="response-control-media-type__accept-message">
                                        Controls <code>Accept</code> header.
                                    </small>
                                </div>
                            </section>
                            }
                            <div class="model-example">
                                <ul class="tab" role="tablist">
                                    <li class="tabitem active" role="presentation">
                                        <button aria-controls="vAD+L40=" aria-selected="true" class="tablinks" data-name="example" id="bqoOrKk=" role="tab">Example Value</button>
                                    </li>
                                    <li class="tabitem" role="presentation">
                                        <button aria-controls="lgGkZEo=" aria-selected="false" class="tablinks" data-name="model" id="xu6o3GI=" role="tab">Schema</button>
                                    </li>
                                </ul>
                                <div aria-hidden="false" aria-labelledby="bqoOrKk=" data-name="examplePanel" id="vAD+L40=" role="tabpanel" tabindex="0">
                                    <div>
                                        <div class="highlight-code">
                                            @if (responseMediaType is null)
                                            {
                                                responseMediaType = responses.Value.Keys.First();
                                            }
                                            <Value SchemaRef="@responses.Value[@responseMediaType].Ref" Components="@Components" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="response-col_links"><i>Нет ссылок</i></td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public Dictionary<string, Dictionary<string, Schema>> Responses { get; set; }
    [Parameter]
    public Components Components { get; set; }

    //ICollection<string> mediaTypes;
    string responseMediaType;

    bool exampleValueActivate = true;


    void ExampleValueClick()
    {
        if (exampleValueActivate)
            return;

        exampleValueActivate = true;
    }

    void SchemaClick()
    {
        if (!exampleValueActivate)
            return;

        exampleValueActivate = false;
    }
}
