@using DocumentManagementSystem.Client.Components.OpenAPI.Action.Example
@using DocumentManagementSystem.Client.Components.OpenAPI.Action.ComponentSchema
@using DocumentManagementSystem.Shared.OpenApi

<div class="opblock-section-header">
    <h4>Ответ</h4>
</div>
<div class="responses-inner">
    <table class="responses-table">
        <thead>
            <tr class="responses-header">
                <td class="col_header response-col_status">HTTP Код</td>
                <td class="col_header response-col_description">Описание</td>
                <td class="col col_header response-col_links">Ссылки</td>
            </tr>
        </thead>
        <tbody>
            <tr class="response">
                @foreach (var response in Responses)
                {
                    @if (response.Value is not null)
                    {
                        <td class="response-col_status">@response.Key</td>
                        <td class="response-col_description">
                            <div class="response-col_description__inner">
                                <div class="renderedMarkdown">
                                    <p>@((MarkupString)Markdig.Markdown.ToHtml(response.Value.Description))</p>
                                </div>
                            </div>
                            <section class="response-controls">
                                <div class="response-control-media-type response-control-media-type--accept-controller">
                                    <small class="response-control-media-type__title">Медиа тип</small>
                                    <div class="content-type-wrapper ">
                                        <select class="content-type" @bind="@selectedMediaTypes[response.Key]">
                                                @foreach (var mediaType in response.Value.Content.Keys)
                                                {
                                                    <option value="@mediaType">@mediaType</option>
                                                }
                                        </select>
                                    </div>
                                    <small class="response-control-media-type__accept-message">
                                        Controls <code>Accept</code> header.
                                    </small>
                                </div>
                            </section>
                            <div class="model-example">
                                <ul class="tab">
                                    @if (exampleValueActivate)
                                    {
                                        <li class="tabitem active" @onclick="ExampleValueClick">
                                            <button class="tablinks">Пример значения</button>
                                        </li>
                                        <li class="tabitem" @onclick="SchemaClick">
                                            <button class="tablinks">Схема</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="tabitem" @onclick="ExampleValueClick">
                                            <button class="tablinks">Пример значения</button>
                                        </li>
                                        <li class="tabitem active" @onclick="SchemaClick">
                                            <button class="tablinks">Схема</button>
                                        </li>
                                    }
                                </ul>
                                @if (exampleValueActivate)
                                {
                                    <Value SchemaRef="@response.Value.Content[selectedMediaTypes[response.Key]].Schema.Ref" Components="@Components" />
                                }
                                else
                                {
                                    <SchemaRoot SchemaRef="@response.Value.Content[selectedMediaTypes[response.Key]].Schema.Ref" Components="@Components" />
                                }
                            </div>
                        </td>
                        <td class="response-col_links"><i>Нет ссылок</i></td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public Dictionary<string, Response>? Responses { get; set; }
    [Parameter]
    public Components? Components { get; set; }

    bool exampleValueActivate = true;
    Dictionary<string, string> selectedMediaTypes = new();

    protected override void OnInitialized()
    {
        foreach (var response in Responses)
        {
            selectedMediaTypes.Add(response.Key, response.Value.Content.Keys.First());
        }
    }

    void ExampleValueClick()
    {
        if (exampleValueActivate)
            return;

        exampleValueActivate = true;
    }

    void SchemaClick()
    {
        if (!exampleValueActivate)
            return;

        exampleValueActivate = false;
    }
}
