@using DocumentManagementSystem.Client.Constants

<span>{</span>@Environment.NewLine
@foreach (var property in properties)
{
    @if (lastPropertyKey is not null && !lastPropertyKey.Equals(property.Key))
    {
        isLastProperty = false;
    }

    @switch(property.Value.Type)
    {
        case null:
            <PropertyName Name="@property.Key" Space="@internalSpace" /><Properties SchemaRef="@property.Value.Ref" SpaceCount="@spaceCount" />
            break;
        case PropertyTypes.Object:
            <PropertyName Name="@property.Key" Space="@internalSpace" /><PropertyTypeObject Property="@property.Value" SpaceCount="@spaceCount" LastProperty="@isLastProperty" />
            break;
        case PropertyTypes.Array:
            <PropertyName Name="@property.Key" Space="@internalSpace" /><PropertyTypeArray Property="@property.Value" SpaceCount="@spaceCount" LastProperty="@isLastProperty" />
            break;
        default:
            <PropertyName Name="@property.Key" Space="@internalSpace" /><PropertyType Type="@property.Value.Type" LastProperty="@isLastProperty" DefaultValue="@property.Value.Default"/>
            break;
    }
}
@if(IsRoot)
{
    <span>}</span>
}
else
{
    @externalSpace<span>}</span>
    @if (!isLastProperty)
    {
        <span>,</span>
    }
    @Environment.NewLine
}

@code {
    [Parameter]
    [EditorRequired]
    public string? SchemaRef { get; set; }
    [CascadingParameter]
    [EditorRequired]
    public Components? Components { get; set; }
    [Parameter]
    public uint SpaceCount { get; set; } = 0;
    [Parameter]
    public bool IsRoot { get; set; } = false;
    [Parameter]
    public bool LastProperty { get; set; } = true;

    uint spaceCount = 0;
    string? internalSpace, externalSpace;

    string? lastPropertyKey { get; set; }
    bool isLastProperty = true;

    Dictionary<string, Property>? properties;

    protected override void OnInitialized()
    {
        properties = Components.Schemas[SchemaRef[21..]].Properties;

        spaceCount = SpaceCount;
        spaceCount++;
        SpaceAdd();

        lastPropertyKey = properties.Last().Key;
    }

    void SpaceAdd()
    {
        for (uint i = 0; i < spaceCount; i++)
            internalSpace += SystemConstants.PropertySpace;

        externalSpace = internalSpace[..^SystemConstants.PropertySpace.Length];
    }
}
