@using DocumentManagementSystem.Client.Constants;

@switch (Type)
{
    case PropertyTypes.Integer:
    case PropertyTypes.Number:
        @if (!string.IsNullOrEmpty(DefaultValue))
        {
            <span style="color: rgb(211, 99, 99);">@DefaultValue</span>
        }
        else
        {

            <span style="color: rgb(211, 99, 99);">0</span>
        }
        break;
    case PropertyTypes.Boolean:
        @if (!string.IsNullOrEmpty(DefaultValue))
        {
            <span style="color: rgb(252, 194, 140);">@DefaultValue</span>
        }
        else
        {
            <span style="color: rgb(252, 194, 140);">true</span>
        }
        break;
    default:
        @if (!string.IsNullOrEmpty(DefaultValue))
        {
            <span style="color: rgb(162, 252, 162);">"@DefaultValue"</span>
        }
        else
        {
            <span style="color: rgb(162, 252, 162);">"@Type"</span>
        }
        break;
}
@if (!LastProperty)
{
    <span>,</span>
}
@Environment.NewLine

@code {
    [Parameter]
    [EditorRequired]
    public string? Type { get; set; }
    [Parameter]
    [EditorRequired]
    public bool LastProperty { get; set; }
    [Parameter]
    [EditorRequired]
    public string? DefaultValue { get; set; }
}
