@using DocumentManagementSystem.Client.Constants

<span class="model">
    <button class="model-box-control" @onclick="() => IsOpen = !IsOpen">
        <span class="pointer">
            <span class="model-title">
                <span class="model-title__text">@SchemaName</span>
            </span>
        </span>
        @if (IsOpen)
        {
            <span class="model-toggle"></span>
        }
        else
        {
            <span class="model-toggle collapsed"></span>
            <span>
                <span>
                    <span>{</span>...<span>}</span>
                </span>
            </span>
        }
    </button>

    @if (IsOpen)
    {
        @if (Schema.Type is not null)
        {
            <CascadingValue Value="Schema.Default" Name="DefaultValue">
                <CascadingValue Value="Schema.Description" Name="Description">
                    <CascadingValue Value="Schema.Enum" Name="Enum">
                        <CascadingValue Value="Schema.Format" Name="Format">
                            <CascadingValue Value="Schema.MaxLength" Name="MaxLength">
                                <CascadingValue Value="Schema.MinLength" Name="MinLength">
                                    <CascadingValue Value="Schema.Nullable" Name="Nullable">
                                        @switch (Schema.Type)
                                        {
                                            case PropertyTypes.Object:
                                                <UISchemaObject Schema="@Schema" SchemaName="@SchemaName" />
                                                break;
                                            case PropertyTypes.Array:
                                                @if (Schema.Items is not null)
                                                {
                                                    <UISchemaArray Items="@Schema.Items" />
                                                }
                                                break;
                                        }
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        }
        else if (Schema.Ref is not null)
        {
            <UISchemaRef SchemaRef="@Schema.Ref" />
        }
    }
</span>

@code {
    [Parameter]
    [EditorRequired]
    public Schema Schema { get; set; }
    [Parameter]
    [EditorRequired]
    public string SchemaName { get; set; }
    [Parameter]
    public bool IsOpen { get; set; }
}
