@using DocumentManagementSystem.Client.Models

@if (!isOpen)
{
    <button class="model-box-control" @onclick="PropertyClick">
        <span class="pointer">
            <span class="model-title">
                <span class="model-title__text">@schemaName</span>
            </span>
        </span>
        <span class="model-toggle collapsed"></span>
        <span>
            <span>
                <span>{</span>...<span>}</span>
            </span>
        </span>
    </button>
}
else
{
    <button class="model-box-control" @onclick="PropertyClick">
        <span class="pointer">
            <span class="model-title">
                <span class="model-title__text">@schemaName</span>
            </span>
        </span>
        <span class="model-toggle"></span>
    </button>
    <span class="brace-open object">{</span>
    <span class="model-jump-to-path"></span>
    <span class="inner-object">
        <table class="model">
            <tbody>
                @if (schemaDescription is not null)
                {
                    <tr class="description">
                        <td>описание:</td>
                        <td>
                            <div class="renderedMarkdown">
                                <p>@((MarkupString)Markdig.Markdown.ToHtml(schemaDescription))</p>
                            </div>
                        </td>
                    </tr>
                }
                @foreach (var property in properties)
                {
                    <tr class="property-row">
                        @if (required is not null && required.Contains(property.Key))
                        {
                            <td>
                                @property.Key
                                <span class="star">*</span>
                            </td>
                        }
                        else
                        {
                            <td>@property.Key</td>
                        }
                        <td>
                            @if (property.Value.Ref is null && property.Value.Type != PropertyTypes.Array)
                            {
                                <span class="model">
                                    <span>
                                        <span class="prop">
                                            @if (property.Value.Type is not null)
                                            {
                                                <span class="prop-type">@property.Value.Type</span>
                                            }
                                            @if (property.Value.Nullable is not null)
                                            {
                                                <span class="property primitive">
                                                    <br>nullable: @property.Value.Nullable.ToString().ToLower()
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(property.Value.Default))
                                            {
                                                <span class="property primitive">
                                                    <br>default: @property.Value.Default
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(property.Value.Description))
                                            {
                                                <div class="renderedMarkdown">
                                                    <p>@((MarkupString)Markdig.Markdown.ToHtml(property.Value.Description))</p>
                                                </div>
                                            }
                                        </span>
                                    </span>
                                </span>
                            }
                            else if (property.Value.Type == PropertyTypes.Array && property.Value.Items is not null)
                            {
                                @if (!arrayProperties.ContainsKey(property.Key))
                                    arrayProperties.Add(property.Key, false);

                                <span class="model" @onclick="@(e => arrayProperties[property.Key] = !arrayProperties[property.Key])">
                                    <span>
                                        <span class="pointer">
                                            <span class="model-toggle collapsed"></span>
                                        </span>

                                        @if (arrayProperties[property.Key])
                                        {
                                            <span>[</span>
                                            @if (property.Value.Nullable is not null)
                                            {
                                                <span class="property">
                                                    <br>nullable: @property.Value.Nullable.ToString().ToLower()
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(property.Value.Default))
                                            {
                                                <span class="property">
                                                    <br>default: @property.Value.Default
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(property.Value.Description))
                                            {
                                                <div class="renderedMarkdown">
                                                    <p>@((MarkupString)Markdig.Markdown.ToHtml(property.Value.Description))</p>
                                                </div>
                                            }
                                            @if (property.Value.Items.Type is not null || property.Value.Items.Ref is not null)
                                            {
                                                <span>
                                                    <span class="model">
                                                        <span class="">
                                                            @if (property.Value.Items.Ref is not null)
                                                            {
                                                                <UISchema SchemaRef="@property.Value.Items.Ref" Components="@Components" />
                                                            }
                                                            else
                                                            {
                                                                <span class="prop">
                                                                    <span class="prop-type">@property.Value.Items.Type</span>
                                                                </span>
                                                            }
                                                        </span>
                                                    </span>
                                                </span>
                                            }
                                            <span>]</span>
                                        }
                                        else
                                        {
                                            <span class="pointer">[...]</span>
                                        }
                                    </span>
                                </span>
                            }
                            else
                            {
                                <span class="model">
                                    <span>
                                        <UISchema SchemaRef="@property.Value.Ref" Components="@Components" />
                                    </span>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </span>
    <span class="brace-close">}</span>
}

@code {
    [Parameter]
    public string? SchemaRef { get; set; }
    [Parameter]
    public Schema? Schema { get; set; }
    [Parameter]
    public string? SchemaName { get; set; }
    [Parameter]
    public Components? Components { get; set; }
    [Parameter]
    public bool? IsOpen { get; set; }

    string? schemaName;
    string? schemaDescription;

    Dictionary<string, Property>? properties;
    List<string> required;
    Dictionary<string, bool> arrayProperties = new();

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(SchemaRef))
        {
            string schemaPath = SchemaRef[21..];
            schemaName = schemaPath;

            if (Components is not null && Components.Schemas is not null && Components.Schemas.ContainsKey(schemaPath))
            {
                var schema = Components.Schemas[schemaPath];

                if (!string.IsNullOrEmpty(schema.Description))
                    schemaDescription = schema.Description;

                if (schema.Properties is not null)
                    properties = schema.Properties;

                if (schema.Required is not null)
                    required = (List<string>)schema.Required;
            }
        }

        if (Schema is not null)
        {
            schemaName = SchemaName;

            if (!string.IsNullOrEmpty(Schema.Description))
                schemaDescription = Schema.Description;

            if (Schema.Properties is not null)
                properties = Schema.Properties;

            if (Schema.Required is not null)
                required = (List<string>)Schema.Required;
        }

        if (IsOpen is null)
            isOpen = false;
        else
            isOpen = (bool)IsOpen;
    }

    bool isOpen { get; set; } = false;

    void PropertyClick()
    {
        isOpen = !isOpen;
    }
}
