@using DocumentManagementSystem.Client.Components.OpenAPI.Actions.Action;
@using DocumentManagementSystem.Client.Components.OpenAPI.Actions;
@using Markdig

@if (Tag is not null && !string.IsNullOrWhiteSpace(Tag.Name))
{
    <span>
        <div class="opblock-tag-section @isOpenString">
            <h3 class="opblock-tag no-desc" @onclick="ButtonRotate">
                <a class="nostyle">
                    <span>@Tag.Name</span>
                </a>
                <small>
                    @if (!string.IsNullOrWhiteSpace(Tag.Description))
                    {
                        <div class="markdown">
                            <p>@((MarkupString)Markdig.Markdown.ToHtml(Tag.Description))</p>
                        </div>
                    }
                </small>
                @if (Tag.ExternalDocs is not null && Tag.ExternalDocs.URL is not null && !string.IsNullOrWhiteSpace(Tag.ExternalDocs.Description))
                {
                    <div class="info__externaldocs">
                        <small>
                            <a href="@Tag.ExternalDocs.URL" target="_blank" rel="noopener noreferrer" class="link">@(((MarkupString)Markdig.Markdown.ToHtml(Tag.ExternalDocs.Description)).ToString()[3..^5])</a>
                        </small>
                    </div>
                }
                <button class="expand-operation">
                    <UISVGRotate Rotate="@rotate" />
                </button>
            </h3>
            @if (isOpen)
            {
                <div class="no-margin">
                    <div class="operation-tag-content">
                        @foreach (var path in Paths)
                        {
                            @if (path.Value.Delete is not null)
                            {
                                <DELETE Operation="@path.Value.Delete" Components="@Components" Path="@path.Key" />
                            }
                            @if (path.Value.Get is not null)
                            {
                                <GET Operation="@path.Value.Get" Components="@Components" Path="@path.Key" />
                            }
                            @if (path.Value.Post is not null)
                            {
                                <POST Operation="@path.Value.Post" Components="@Components" Path="@path.Key" />
                            }
                            @if (path.Value.Put is not null)
                            {
                                <PUT Operation="@path.Value.Put" Components="@Components" Path="@path.Key" />
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </span>
}

@code {
    [Parameter]
    [EditorRequired]
    public Dictionary<string, PathItem>? Paths { get; set; }
    [Parameter]
    [EditorRequired]
    public Tag? Tag { get; set; }
    [Parameter]
    [EditorRequired]
    public Components? Components { get; set; }

    bool isOpen { get; set; } = true;
    short rotate { get; set; } = 180;
    string? isOpenString;

    void ButtonRotate()
    {
        if (isOpen)
        {
            rotate -= 180;
            isOpenString = null;
            isOpen = false;
        }
        else
        {
            rotate += 180;
            isOpenString = "is-open";
            isOpen = true;
        }
    }
}
