@using DocumentManagementSystem.Client.Models;
@using DocumentManagementSystem.Client.Components.OpenAPI.Action;

<span>
    <div class="opblock-tag-section">
        <h3 class="opblock-tag no-desc" @onclick="ButtonRotate">
            <a class="nostyle">
                <span>@Controller.Name</span>
            </a>
            <small>
                @if (Controller.Description is not null)
                {
                    <div class="markdown">
                        <p>@((MarkupString)Markdig.Markdown.ToHtml(Controller.Description))</p>
                    </div>
                }
            </small>
            @if (Controller.ExternalDocs is not null)
            {
                <div class="info__externaldocs">
                    <small>
                        <a href="@Controller.ExternalDocs.URL" target="_blank" rel="noopener noreferrer" class="link">@((MarkupString)Markdig.Markdown.ToHtml(Controller.ExternalDocs.Description))</a>
                    </small>
                </div>
            }
            <button class="expand-operation">
                <UISVGRotate Rotate="@rotate" />
            </button>
        </h3>
        @if (isOpen)
        {
            <div class="no-margin">
                <div class="operation-tag-content">
                    @foreach (var action in Controller.Actions)
                    {
                        <Header Action="action" Components="@Components"/>
                    }
                </div>
            </div>
        }
    </div>
</span>

@code {
    [Parameter] 
    public Controller Controller { get; set; }
    [Parameter]
    public Components Components { get; set; }

    bool isOpen { get; set; } = true;
    short rotate { get; set; } = 180;

    void ButtonRotate()
    {
        if (isOpen)
            rotate -= 180;
        else
            rotate += 180;

        isOpen = !isOpen;
    }
}
