@using DocumentManagementSystem.Shared.OpenApi;

<div>
    @if (Document is not null)
    {
        <UIInfo Info="@Document.Info" OpenAPI="@Document.OpenAPI" URL="@URL" />
        <UIServers Servers="@Document.Servers" />
        <UIControllers Paths="@Document.Paths" Components="@Document.Components"/>
        <UISchemas Components="@Document.Components" />
    }
</div>

@code {
    [Parameter] public OpenAPIRoot? Document { get; set; }
    [Parameter] public string? URL { get; set; }
}
